#include <os2.h>
#include "rc.h"
#include "help.h"

ICON DLG_SETTINGS LIFE.ICO
BITMAP BMP_SPACE SPACE.BMP

STRINGTABLE
{
   STR_TITLE, "Life Saver"
   STR_HELPTITLE, "Help with Life Saver"
}

DLGTEMPLATE DLG_SETTINGS LOADONCALL MOVEABLE DISCARDABLE
{
   DIALOG  "Life Saver", DLG_SETTINGS, 118, 73, 195, 85,
      NOT FS_DLGBORDER | WS_VISIBLE,
      FCF_SYSMENU | FCF_TITLEBAR | FCF_MINBUTTON | FCF_SIZEBORDER | FCF_ICON | FCF_TASKLIST
   {
      LTEXT "Life saver settings", -1, 10, 70, 180, 8
      LTEXT "Timeout", -1, 10, 45, 65, 8
      ENTRYFIELD "", DST_EF_TIMEOUT, 77, 45, 26, 8, ES_MARGIN | ES_READONLY
      AUTOCHECKBOX "Disable screen saver", DST_CB_DISABLE, 10, 30, 100, 10
      CONTROL "", DST_SL_TIMEOUT, 110, 30, 75, 16, WC_SLIDER, SLS_HORIZONTAL | SLS_CENTER | SLS_BUTTONSTOP | SLS_HOMELEFT | SLS_PRIMARYSCALE1 | SLS_SNAPTOINCREMENT | WS_GROUP | WS_TABSTOP | WS_VISIBLE
         CTLDATA 12, 0, 19, 0, 0, 0
      DEFPUSHBUTTON "~Set", DST_PB_SET, 10, 10, 40, 13
      PUSHBUTTON "~Apply", DST_PB_APPLY, 55, 10, 40, 13
      PUSHBUTTON "~Undo", DST_PB_UNDO, 100, 10, 40, 13
      PUSHBUTTON "Help", DST_PB_HELP, 145, 10, 40, 13
   }
}

HELPTABLE HELP_SETTINGS
{
   HELPITEM DLG_SETTINGS, SUBHELP_SETTINGS, EXTHELP_SETTINGS
}

HELPSUBTABLE SUBHELP_SETTINGS
{
   HELPSUBITEM DST_PB_SET, EXTHELP_SETTINGS
}
